@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
{ 
	margin: 0;
	padding: 0;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img
{ 
	border: 0;
}

ol,ul
{
	list-style: none;
}

caption,th
{
	text-align: left;
}

abbr,acronym
{
	border: 0;
}

/*======================================

	1-1.YUI Fonts CSS
	http://developer.yahoo.com/yui/fonts/
	*Copyright (c) 2006, Yahoo! Inc. All rights reserved.
	*http://developer.yahoo.com/yui/license.txt
	
	Font-size Adjustment.
	
	77% = 10px	|	122% = 16px	|	167% = 22px	
	85% = 11px	|	129% = 17px	|	174% = 23px 
	92% = 12px	|	136% = 18px	|	182% = 24px 
	100% = 13px	|	144% = 19px	|	189% = 25px 
	107% = 14px	|	152% = 20px	|	197% = 26px 
	114% = 15px	|	159% = 21px	| 

=======================================*/

body
{
	font: 13px/1.231 arial,helvetica,clean,sans-serif;
	*font-size: small;
	*font: x-small;
}

table
{
	font-size: inherit;
	font: 100%;
}

pre,code,kbd,samp,tt
{
	font-family: monospace;
	*font-size: 108%;
	line-height: 100%;
}



/*======================================

	1-2.Structure Module

=======================================*/

html
{
	overflow-y: scroll;
}